fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
pydantic
python-multipart
python-dotenv
joblib
pandas
numpy
scikit-learn
requests
groq
cloudinary
reportlab
xlsxwriter
openpyxl
PyPDF2
google-generativeai
yt-dlp
